:root{
  /* primary colors */
  --orange: hsl(26, 100%, 55%);
  --pale-orange:hsl(25, 100%, 94%);

  /* neutral colors  */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --white-lightdark: hsla(0, 0%, 100%, 0.816);
  --black: hsl(0, 0%, 0%);

  /* cart bumber item selected */
  --box-numb-selected: hidden;
  --content-variable: 0;

  /* body darked */
  --body-shadowed: hidden;
  --animation-body: animBodyWidth 100ms ease-in-out forwards;

  /* item selection float */
  --item-float-view: hidden;
  --item-float-image: hidden;
}

/* utilities */

*, *:after, *:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
}


img{
  max-width: 100%;
  display: inline-block;
  position: relative;
}

body{
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Kumbh Sans', sans-serif;
  background: var(--white);
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  transition: background 1500ms ease-in-out;
  z-index: 1;
}

body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 124vh;
  background: hsla(217, 12%, 42%, 0.391);
  visibility: var(--body-shadowed);
  transition: background 600ms linear, visibility 600ms ease-in-out, width 490ms ease-in-out;
  animation: var(--animation-body);
  z-index: 5;
}

h1, h2, h3, h4{
  font-weight: 700;
}

ul{
  list-style: none;
}

a{
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6;
  text-decoration: none;
}

p{
  font-size: 16px;
  font-weight: 400;
  opacity: 0.65;
}

.h1_price{
  font-size: 16px;
}
.ft_price{
  font-size: 14px;
}

.edition_title{
  font-size: 14px;
  font-weight: bold;
  color: #096820;
  transform: skewX(-15deg);
  padding: .5rem;
}

/* floating item selection of desktop style */

.item_selection_float{
  display: none;
  position: absolute;
  top: 34%;
  left: 46%;
  transform: translate(-50%, -50%);
  grid-template-columns: 1fr;
  grid-template-areas:
  'close-floating'
  'items-new'
  'slider-arrow-new'
  'sliders-image-new';
  width: 50%;
  height: 40%;
  background: transparent;
  padding: 3rem;
  gap: 1rem;
  visibility: var(--item-float-view);
  z-index: 100;
}

.close_floating{
  position: relative;
  top: 0;
  right: 0;
  width: 50vw;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 100;
}

.icon_close_float{
  position: relative;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
  z-index: 15;
  cursor: pointer;
}

.items_new{
  grid-area: items-new;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  z-index: 3;

}

.item_sell_new{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 50vw;
  transition: transform 380ms ease-in ,visibility 480ms ease-in;
  visibility: var(--item-float-image);
}

/* positioning item sell new  */

.item_sell_new:nth-child(2){
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
}

.item_sell_new:nth-child(3){
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-200%, 0);
}
.item_sell_new:last-child{
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-300%, 0);
}

.item_sell_new .your_shoes{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.slider_arrow_new{
  grid-area: slider-arrow-new;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'icon-arrowleft icon-arrowright';
  width: 50vw;
  gap: calc(54vw);
  z-index: 10;
}

.slider_arrow_new button.icon_arrowleft{
  grid-area: icon-arrowleft;
  position: absolute;
  top: 0;
  left: calc(4vw - 5vw);
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  transform: translate(0,-950%);
  background:var(--white);
  cursor: pointer;
}

.slider_arrow_new button.icon_arrowright{
  grid-area: icon-arrowright;
  position: absolute;
  top: 0;
  right: calc(4vw - 1vw);
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  background:var(--white);
  transform: translate(0, -950%);
  margin: 0 auto;
  cursor: pointe
}

.sliders_image_new{
  grid-area: sliders-image-new;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-2%, 0%);
  width: 50vw;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.sliders_image_new .sliding_img{
  position: relative;
  display: block;
  width: 40%;
  height: 74%;
}


.sliders_image_new .sliding_img .slide_curve{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* end floating item selection of desktop style */


button.toggle_hamburger[aria-expanded="false"]{
  position: relative;
  top: 0.4rem;
  left: 0;
  width: 100px;
  height: 26px;
  transform: translateX(0);
  background: url('../images/icon-menu.svg') no-repeat center center/cover;
  visibility: visible;
  transition: background 340ms linear, transform 420ms ease-in-out;
  z-index: 25;
  cursor: pointer;
}

button.toggle_hamburger[aria-expanded="true"]{
  position: relative;
  top: 0.3rem;
  left: 0;
  width: 80px;
  height: 28px;
  transform: translateX(-50%);
  background: url('../images/icon-close.svg') no-repeat center center/cover;
  transition: background 340ms ease-in, transform 420ms ease-in-out;
  z-index: 25;
  cursor: pointer;
}

.menu_nav[aria-expanded="false"]{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;
  width: 5vw;
  min-height: 100vh;
  opacity: 0.85;
  background: transparent;
  visibility: hidden;
  transition: width 600ms ease-out visibility 600ms ease-in-out text-align 1s ease-in-out opacity 400ms ease-out;
}

.menu_nav[aria-expanded="true"]{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 80vw;
  min-height: 145vh;
  opacity: 1;
  background: var(--white);
  gap: 1rem;
  visibility: visible;
  text-align: left;
  transition: width 600ms ease-out visibility 800ms ease-in-out text-align 1s ease-in-out opacity 400ms ease-out;
  z-index: 5;
}

.menu_nav div{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  top: 20%;
  left: 5%;
  transition: all 400ms ease-in-out 400ms;
}
.menu_nav div .nav_side{
  font-size: 16px;
  font-weight: 700;
  color: var(--grayish-blue);
}
.collection_item[data-target="false"] {
  opacity: 0.45;
  transform: translateX(-80%);
  transition: opacity 380ms ease-in, transform 450ms ease-in-out;
  cursor: pointer;
}
.collection_item[data-target="true"] {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 380ms ease-in, transform 450ms ease-in-out;
  cursor: pointer;
}

.desktop{
  display: none;
  position: absolute;
  top: 2rem;
  left: 12.5rem;
}

.desktop .desktop_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   gap: 1.75rem;
}

.desktop .desktop_nav li{
  border-bottom: 2px solid transparent;
  opacity: 0.7;
  transition: border-bottom 900ms ease-in 700ms, opacity 420ms ease-in-out 700ms; 
}

.desktop .desktop_nav li:is(:hover, :focus){
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--orange);
  transform: scale(1);
  opacity: 1;
  transition: border-bottom 900ms ease-in 700ms, opacity 420ms ease-in-out 700ms; 
}

.desktop .desktop_nav .nav_desk{
  color: var(--dark-grayish-blue);
  font-size: 14px;
  transition:  color 700ms ease-in-out;
}

.desktop .desktop_nav .nav_desk:is(:hover, :focus){
  color: var(--very-dark-blue);
  font-size: 14px;
  transition:  color 700ms ease-in-out;
}

/* navbar design */

.nav_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  padding: 1rem 0;
  margin: 1rem 1rem ;
  border-bottom: 1px solid var(--grayish-blue);
}

.menu_wrapleft{
  display: flex;
  flex-direction: row;
  width: 40%;
  gap: 1.5rem; 
}

.menu_wrapleft .logo{
  position: relative;
  top: 0.5rem;
  left: 0;
  width: 200%;
  height: 200%;
}

.menu_wrapleft .logo .icon_logo{
  position: relative;
  width: 150%;
  height: 150%;
}
.menu_wrapright{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100px;
  gap: 1rem;  
}

.menu_wrapright .image_cart{
  position: relative;
  top: 0.35rem;
  left: 0;
  width: 60px;
  height: 40px;
}

div.overlay{
  position: absolute;
  top: 0;
  left: 0.9rem;
  padding: 0.22rem;
  width: 20px;
  height: 20px;
  z-index: 100;
  border-radius: 50%;
  background: var(--orange);
  transition: all 320ms ease-in-out ;
  visibility: hidden;
}

p.overlay_number{
  position: absolute;
  top: 0.1rem;
  left: 0.4rem;
  color: var(--black);
  font-size: 14px;
  font-weight: bold;
  transition: all 320ms ease-in-out 340ms ;
}


.menu_wrapright .avatar{
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  cursor: pointer;
} 

.menu_wrapright .image_cart .icon_cart{
  position: relative;
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.menu_wrapright .avatar .icon_avatar{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* end navbar design */


/* cart box design from the icon cart navbar */

.cart_picture{
  position: absolute;
  top: 5.5rem;
}

.cart_box[data-cart-toggled="false"]{
  position: absolute;
  top: 1.2rem;
  left: 0;
  transform: translateX(-15%);
  width: 100vw;
  height: calc(84vw);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.75;
  border-radius: 10px;
  visibility: hidden;
  transition: background 400ms ease-in, opacity 480ms ease-out, visibility 380ms ease-in-out;
  z-index: 5;
}

.cart_box[data-cart-toggled="true"]{
  position: absolute;
  top: 1.22rem;
  left: 0;
  transform: translateX(-4%);
  width: 100vw;
  height: calc(84vw);
  background: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
  visibility: visible;
  border-radius: 10px;
  transition: background 400ms ease-in, opacity 480ms ease-out, visibility 380ms ease-in-out;
  opacity: 1;
  z-index: 5;
}

.cart_box h3 {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  border-bottom: 1px solid var(--grayish-blue);
  text-align: left;
  transition: visibility 200ms ease-in-out;
}

.cart_art{
  z-index: 10;
}

.empty[data-add-cart="false"]{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  padding: 1.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
  visibility: hidden;
  transition: visibility 300ms ease-in-out, transform 380ms ease-in-out ;
}
.empty[data-add-cart="true"]{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  z-index: 10;
  transition: visibility 300ms ease-in-out, transform 380ms ease-in-out ;
}

.cart_filled[data-number-exist="false"]{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  width: 88vw;
  height: 200px;
  visibility: hidden;
}

.cart_filled[data-number-exist="true"]{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 88vw;
  height: 200px;
  visibility: visible;
}

.cart_filled .cart_pro[data-show-item="false"] {
  position: relative;
  top: 1rem;
  left: 0;
  width: 88vw;
  height: 200px;
  margin: 0 auto;
  visibility: hidden;
}

.cart_filled .cart_pro[data-show-item="true"] {
  position: relative;
  top: 1rem;
  left: 0;
  width: 88vw;
  height: 200px;
  margin: 0 auto;
  visibility: visible;
}

.cart_pro2{
  transform: translateY(-100%);
}

.cart_pro3{
  transform: translateY(-200%);
}

.cart_pro4{
  transform: translateY(-300%);
}

.cart_selection{
  position: relative;
  top: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.edition_range {
  position: relative;
  top: 0;
  display: flex;  
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 65%;
  height: 100%;
}

.cart_selection .edition_range div{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.cart_selection .edition_range div.price_cover *{
  font-size: 16px;
}

.edition_range .price_cover{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.cart_selection .mini_image{
  position: relative;
  width: 56px;
  height: 56px;
}

.cart_selection .mini_image .ready_buy{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.cart_selection .delete_sign{
  position: relative;
  top: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20px;
  height: 20px;
}

.price_cover h4.total_price{
  position: relative;
  display: flex;
  gap: 0.2rem;
  left: 4rem;
}

.price_one{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  gap: .15rem;
  transition: opacity 300ms ease-in-out;
}



button[class="cart_checkout"]{
  position: fixed;
  top: -2rem;
  left: 0;
  padding: 0.8rem 1rem;
  transform: translate(0, 480%);
  width: 100%;
  margin: 0 auto;
  color: var(--white);
  background: var(--orange);
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* end cart box design */

.avatar{
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 50px;
  transition: border 400ms ease-in;
}

.avatar:is(:hover, :focus){
  border: 2px solid var(--orange);
}

.main_container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  'welcome-nav'
  'item-selection'
  'price-component'
  'end-pitch';
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 120vh;
}

.welcome_nav{
  grid-area:  welcome-nav;
  position: relative;
}


/* item selection */

.item_selection{
  grid-area: item-selection;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'items'
  'slider-arrow'
  'sliders-image';
  gap: 0.5rem;
}

.items{
  grid-area: items;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.item_sell[data-show-item="true"]{
  position: relative;
  top: 0;
  left: 0;
  display: block;
  visibility: visible;
  width: 100vw;
  transform: translateX(0);
  transition: transform 380ms ease-in ,visibility 480ms ease-in;
}
.item_sell[data-show-item="false"]{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 380ms ease-in ,visibility 480ms ease-in;
}

.item_sell .your_shoes{
  width: 100%;
  height: 90%;
  border-radius: 16px;
  object-fit: cover;
  cursor: pointer;
}

.slider_arrow{
  grid-area: slider-arrow;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'icon-arrowleft icon-arrowright';
  width: 100vw;
  gap: calc(76vw);
}

button.icon_arrowleft{
  grid-area: icon-arrowleft;
  position: absolute;
  top: 0;
  left: calc(4vw - 3vw);
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  transform: translateY(-550%);
  background:var(--white);
  z-index: 3;
}

button.icon_arrowright{
  grid-area: icon-arrowright;
  position: absolute;
  top: 0;
  right: calc(4vw - 3vw);
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  background:var(--white);
  z-index: 3;
  transform: translate(0, -550%);
  margin: 0 auto;
}

.brand_presentation{
  position: relative;
  top: 0;
  left: 0;
}

.brand_presentation h1.item_advertising[data-show-item="false"]{
  position: relative;
  top: 2.4rem; 
  left:0;
  transform: translate(-100%,-100%);
  width: 80vw;
  opacity: 0.4;
  visibility: hidden;
  /* transition: transform 300ms linear ,visibility 100ms ease-in, opacity 100ms ease-in-out; */
  transition: transform 100ms linear, top 200ms ease-in-out;
}

.brand_presentation h1.item_advertising[data-show-item="true"]{
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 80vw;
  opacity: 1;
  visibility: visible;
  /* transition: transform 300ms linear ,visibility 100ms ease-in, opacity 100ms ease-in-out;  */
  transition: transform 100ms linear, top 200ms ease-in-out;
}


.sliders_image{
  grid-area: sliders-image;
  position: relative;
  top: 0;
  left: 9%;
  transform: translateX(-5%);
  width: 40vw;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sliders_image .sliding_img{
  position: relative;
  display: none;
  width: 30%;
  height: 50%;
}


.sliders_image .sliding_img .slide_curve{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* section price component */

.price_component{
  grid-area: price-component;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.price_container{
  position: relative;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  0 0.5rem ;   
  gap: 2rem;
}

.price_container .brand_presentation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100vw;
  padding: 0 2rem;
  gap: 1rem;
}

.price_container .brand_presentation h3{
  color: var(--orange);
  line-height: 1.8;
  letter-spacing: 4px;
  font-size: 14px;
  height: 20px;
  transform: skewX(-16deg);
  font-weight: bold;
}

.price_container .brand_presentation h1.item_advertising[data-show-item="true"]{
  position: relative;
  font-size: 18px;
  font-weight: bold;
  width: 80vw;
  visibility: visible;
  transform: translateX(0);
  transition: transform 500ms ease-in 200ms, visibility 380ms;
}

.price_container .brand_presentation h1.item_advertising[data-show-item="false"]{
  position: absolute;
  transform: translate(-100%, -270%);
  visibility: hidden;
  transition: transform 500ms ease-in 200ms, visibility 380ms;
}

.amount_bill{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 92vw;
  gap: 2rem;
  padding: 2rem 1rem;
}

.amount_bill .price_discount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4.2rem;
}

.price_discount .price_item{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.old_price{
  position:relative;
  top: 0;
  left: -1.4rem;
  display: flex;
  width: 70px;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.old_price:before{
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 2px;
  background: var(--dark-grayish-blue);

}

.price_discount .h1_price[data-h1-view="false"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  display: flex;
  font-size: 20px;
  visibility: hidden;
  transition: all 1s ease-in;
}

.price_discount .h1_price[data-h1-view="true"] {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  font-size: 20px;
  visibility: visible;
  transition: opacity 600ms ease-in;
}

.old_price .ft_price[data-perform-price="false"]{
  position: absolute;
  top: 0.2rem;
  left: 0;
  opacity: 0.7;
  font-size: 20px;
  visibility: hidden;
  transition: opacity 1.5s ease-in-out 300ms;
}

.old_price .ft_price[data-perform-price="true"]{
  position: absolute;
  top: 0.2rem;
  left: 0;
  opacity: 1;
  font-size: 20px;
  visibility: visible;
  transition: opacity 1.5s ease-in-out 300ms;
}

.amount_bill .price_discount h3{
  font-size: 14px;
  color: var(--orange);
  background: var(--pale-orange);
  padding: 0.3rem 0.5rem;
}

.cart_validation{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  justify-content: flex-start;
  align-items: left;
}

.cart_validation .number_box{
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  gap: 1.1rem;
}

.number_box .box_numberquantity{
 position: relative;
 top: 0;
 left: 0;
 background: var(--light-grayish-blue);
 display: flex;
 flex-direction: row;
 width: 86vw;
 border-radius: 10px;
}

.number_box .box_numberquantity #number_selected{
  height: 54px;
  width: 70%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-indent: 54%;
  font-weight: bold;
  background: var(--light-grayish-blue);
  cursor: pointer;
}

.box_numberquantity .soustraction, .box_numberquantity .addition{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 54px; 

}



.box_numberquantity .soustraction .icon_minus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 24%;
  object-fit: cover;
  cursor: pointer;
}

.box_numberquantity .addition .icon_plus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 30%;
  object-fit: cover;
  cursor: pointer;
} 

.cart_validationbutton{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--orange);
  z-index: 3;
}

.cart_validationbutton div{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 0.76rem 1rem;
  border-radius: 5px;
  background: var(--orange);
  box-shadow: 5px 15px 8px var(--pale-orange); 
  z-index: 1;
}
.cart_validationbutton .cart_link{
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  transition: all 2s ease-in;
  z-index: 5;
  cursor: pointer;
}

/* section end pitch */

.end_pitch{
  position: relative;
  top: 5rem;
  left: 1.4rem;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  height: 50px; 
  overflow-x: hidden;
}
.attribution {
   font-size: 11px; 
   text-align: center;
   }
.attribution a 
{ 
    color: var(--grayish-blue);
}

@keyframes animBodyWidth {
  0%{
    width: 5vw;
    opacity: 0.4;
  }
  50%{
    width: 50vw;
    opacity: 0.8;
  }
  100%{
    width: 100vw;
    opacity: 1;
  } 
}


@media (min-width:420px) {

  p{
    font-size: 19px;
    opacity: 0.45;
  }

  .h1_price{
    font-size: 18px;
  }

  .ft_price{
    font-size: 18px;
  }

  .edition_title{
    font-size: 18px;
  }

 

  .menu_wrapright .image_cart{
    top: 0.35rem;
    width: 70px;
    height: 40px;
  }

  .menu_wrapright .avatar{
    width: 70px;
    height: 40px;
  }
  .menu_wrapright .avatar .icon_avatar{
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  .cart_selection{
    transform: translateY(-2.5rem);
  }

  button[class="cart_checkout"]{
    position: fixed;
    top: -4rem;
    left: 0;
    font-size: 18px
  }

  .amount_bill .price_discount h3{
    font-size: 16px;
  }

  .price_container .brand_presentation{
    gap: 1.6rem;
  }

  .price_container .brand_presentation h3{
    font-size: 18px;
    padding-bottom: 1rem;
  }

  .price_container .brand_presentation h1.item_advertising[data-show-item="true"]{
    font-size: 22px;
    width: 60vw;
  }

}

@media (min-width:700px) {

  body{
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template: 'main-container';
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--grayish-blue);
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 0;
    height: 84vh;
  }


  p{
    font-size: 22px;
    opacity: 0.45;
  }

  .menu_wrapleft{
    width: 75%;
  }

  .menu_wrapleft .logo{
    width: 100px;
    top: 0.7rem;
    left: 2rem;
  }

  .edition_title{
    font-size: 18px;
  }

  /* visible  or hidden*/

  button.toggle_hamburger{
    display: none;
  }

  .desktop{
    display: block;
    top: 2.5rem;
  }

  .item_selection_float{
    display: grid;
    
  }

  .desktop .desktop_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     gap: 0.9rem;
  }

  .cart_selection{
    transform: translateY(-6rem);
  }

  button[class="cart_checkout"]{
    position: fixed;
    top: -4rem;
    left: 0;
    font-size: 18px
  }

  .slider_arrow{
    display: none;
  }


  .main_container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'welcome-nav welcome-nav'
    'item-selection price-component'
    'end-pitch end-pitch';
    background: var(--white);
    margin: 1 auto;
    height: 100%;
    overflow: hidden;
  }
 

  .nav_container{
    width: 94vw;
    height: 60px;
    padding: 0.2rem 0;
    margin: 1.7rem 0 1.4rem 1rem ;
    border-bottom: 1px solid var(--grayish-blue);
  }

  .welcome_nav{
    grid-area:  welcome-nav;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .cart_selection .delete_sign{
    width: 40px;
    height: 40px;
  }


  .item_selection{
    width: 50vw;
  }

  .item_sell .your_shoes{
    position: relative;
    top: 0;
    left: 7%;
    width: 40%;
    height: 100%;
    object-fit: cover;   
  }

  .cart_selection .edition_range div *{
    font-size: 22px;
  }

  .slider_arrow{
    top: 0;
    left: 1.3rem;
    gap: calc(50vw);
    width: 50vw;
  }

  button.icon_arrowleft{
    left: calc(4vw);
  }
  button.icon_arrowright{
    right: calc(4vw);
  }
  

  .sliders_image .sliding_img{
    display: block;
  }

  .price_component{  
    width: 100vw; 
   }

  .price_container{
    width: 100vw;
    justify-content: center;
    padding-bottom: 3.8rem;
  }

  .price_container .brand_presentation h3{
    font-size: 18px;
  }

  .price_container .brand_presentation h1.item_advertising[data-show-item="true"]{
    font-size: 24px;
    width: 35vw;
  }

  .price_container .brand_presentation p{
    font-size: 14px;
    max-width: 42%;
  }

  .old_price .ft_price[data-perform-price="false"], .old_price .ft_price[data-perform-price="true"], .price_discount .h1_price[data-h1-view="false"], .price_discount .h1_price[data-h1-view="true"]{
    font-size: 18px;
  }

  .cart_validation{
    left: -1rem;
  }

  .number_box .box_numberquantity{
    width: 42vw;
    border-radius: 5px;
  }

  .number_box .box_numberquantity #number_selected{
    font-size: 22px;
    text-indent: 48%;
  }

  .box_numberquantity .soustraction .icon_minus{
    width: 38%;
    height: 20%;
    object-fit: cover;
  }
  
  .box_numberquantity .addition .icon_plus{
    width: 40%;
    height: 32%;
    object-fit: cover;
  }

  .amount_bill{
    position: relative;
    top: 0;
    left: 0;
    width: 50vw;
    justify-content:flex-start;
    transform: translateX(-50%);
    gap: 11vw;
  }


  .box_numberquantity .soustraction, .box_numberquantity .addition{
    width: 10vw;
    height: 54px; 
  }

  .cart_validationbutton .cart_link p{
    font-size: 20px;
  }

  .end_pitch{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
  }

  .attribution {
    font-size: 17px; 
    text-align: center;
    }

    .attribution a { 
    color: var(--grayish-blue);
    font-size: 15px;
    transition: all 1s ease-in-out;
    transform: font-size 1s ease-in-out transform 800ms ease-in-out;
    transform: skewX(0deg);
   }

   .attribution a:hover{
     color: var(--orange);
     font-size: 16px;
     transform: skewX(-5deg);
   }
}

@media (min-width: 1040px) {

  body{
    background: var(--grayish-blue);
    height: 100vh;
  }

  .desktop{
    top: 2rem;
    left: 15.5rem;
  }

  .desktop .desktop_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     gap: 2.4rem;
  }
  
  .desktop .desktop_nav .nav_desk{
    color: var(--dark-grayish-blue);
    font-size: 16px;
  }

  .nav_container{
    margin: 1.4rem 2.8rem;
  }

  

  .menu_wrapleft .logo{
    width: 120px;
    top: 0.9rem;
    left: 2rem;
  }
  

  .main_container{
    gap: 1.4rem;
  }

  .cart_selection .delete_sign{
    width: 40px;
    height: 40px;
  }

  .sliders_image .sliding_img{
    width: 30%;
    height: 64%;
  }
  .price_container .brand_presentation h3{
    font-size: 18px;
  }

  .price_container .brand_presentation h1.item_advertising[data-show-item="true"]{
    font-size: 36px;
    width: 30vw;
  }

  .price_container .brand_presentation p{
    font-size: 22px;
    max-width: 36%;
  }
  .old_price .ft_price[data-perform-price="false"], .old_price .ft_price[data-perform-price="true"], .price_discount .h1_price[data-h1-view="false"], .price_discount .h1_price[data-h1-view="true"]{
    font-size: 24px;
  }

  .cart_validation .number_box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: calc(7vw - 4vw);
  }

  .box_numberquantity .soustraction, .box_numberquantity .addition{
    width: 8vw;
    height: 54px

  }

  .number_box .box_numberquantity{
    width: 18vw;
    padding: 0.64rem 1rem;
  }

  .number_box .box_numberquantity #number_selected{
    width: 70%;
    text-indent: 37%;
    font-size: 26px;
  }

  .cart_validationbutton{
    width: 20vw;
  }
  .cart_validationbutton div{
    box-shadow: 1px 1px 1px var(--pale-orange);
  }

  .end_pitch{
    position: relative;
    top: 0.5rem;
    left: 50%;
    transform: translate(0, -50%);
    overflow: hidden;
  }
  
}